{% extends '::base.html.twig' %}

{% block body %}

    <aside>
        {% block btn_faq_menu %}{% endblock %}
    </aside>

    <section>
        {% block btn_faq_content %}{% endblock %}
    </section>

{% endblock %}
